@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main: #59301c;
  --color-secondary: #ec8945;
  --hover: #d47b3e;
  --bg: #faf5ef;
  --font-montserrat: "Montserrat", sans-serif;
}
